<h1 style='margin-bottom:14px ;font-family:helveltica,sans-serif ;font-weight:300'> Formulário </h1>
  <form action='/check' method='POST' style='font-family:helveltica,sans-serif'>
  <label >Idade:</label><input name='idade'/><br>
  <button type='submit' style='margin-top:14px'>Salvar</button>
  </form>

